<?xml version="1.0"?>
<!--
/**
 * @author Devcrew Team
 * @copyright Copyright (c) 2023 Devcrew {https://devcrew.io}
 * Date: 25/01/2023
 * Time: 4:01 PM
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="devcrew" translate="label" sortOrder="10">
            <label>DevCrew</label>
        </tab>
        <section id="devcrew_social_login" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Social Login</label>
            <tab>devcrew</tab>
            <resource>Devcrew_SocialLogin::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable Social Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_button_on" translate="label comment" type="multiselect" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Social Login Buttons on</label>
                    <source_model>Devcrew\SocialLogin\Model\System\Config\Source\Position</source_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="facebook" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Facebook</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[To create facebook app <a href="https://developers.facebook.com/apps" target="_bank">here</a>]]></comment>
                </field>
                <field id="app_id" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>App ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
                <field id="app_secret" translate="label" type="password" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>App Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
                <field id="redirect_url" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <frontend_model>Devcrew\SocialLogin\Block\System\RedirectUrl</frontend_model>
                    <label>OAuth redirect URIs</label>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="google" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Google</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[To create google app <a href="https://code.google.com/apis/console/" target="_bank">here</a>]]></comment>
                </field>
                <field id="app_id" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Client ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
                <field id="app_secret" translate="label" type="password" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
                <field id="redirect_url" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <frontend_model>Devcrew\SocialLogin\Block\System\RedirectUrl</frontend_model>
                    <label>OAuth redirect URIs</label>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
